.footer {
    height: 130px;
    background-color: rgba(255, 255, 255, 0.068);
    color: #fff;
    border-top: 1px solid rgba(255, 255, 255, 0.13);
    border-top: 2px solid rgba(255, 255, 255, 0.13);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 1.1em;
}