.background {
  background-image: url("./svg/waveOrange.svg");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: cover;
  min-height: 80vh;
  height: auto;
  width: 100vw;
  max-width: 100%;
  position: relative;
  z-index: 2;
  padding: 0em 0em 8em 0em;
  overflow: hidden;
}

.background2 {
  height: auto;
  padding: 0em 0em 0em 0em;
  width: 100vw;
  max-width: 100%;
  position: relative;
  overflow: hidden;
}

.background3 {
  height: auto;
  width: 100vw;
  max-width: 100%;
  margin: 3em 0 2em 0;
  background-image: url("./svg/particle.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  overflow: hidden;
  position: relative;
}

.background4 {
  height: auto;
  width: 100vw;
  max-width: 100%;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  position: relative;
  padding: 0em 0em 2em 0em;
}

.background5 {
  height: auto;
  background-image: url("./svg/waveCream.svg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  max-width: 100%;
  position: relative;
  padding: 13em 0em 8em 0em;
}

.headers {
  font-size: 2em;
  font-weight: 300;
  text-align: center;
  color: #f7f7f7;
  padding: 0 0.5em;
  letter-spacing: 2px;
}

/* ---------------------------------------------- */

/* Chevron Mover  */

.chevron {
  margin: 0 auto;
  cursor: pointer;
  transform: rotate(180deg);
}

#returnChev {
  transform: rotate(0deg);
}

.chevronPostion1 {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%);
}

.chevronPostion5 {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%);
  z-index: 2;
}

.hrNoMargin {
  width: 80%;
  max-width: 450px;
  margin-bottom: 1em;
}

.hr {
  width: 80%;
  max-width: 400px;
  border: 0.5px solid rgb(163, 163, 163);
}

@media (min-width: 558px) {
  .chevronPostion1 {
    bottom: 50px;
  }

  .chevronPostion3 {
    bottom: 80px;
  }
}

@media (min-width: 1200px) {
  .background2 {
    height: 400px;
  }

  .chevronPostion1 {
    bottom: 160px;
  }
  .chevronPostion5 {
    bottom: 50px;
  }

  .background3 {
    margin: 4em 0 2em 0;
  }
}
